
<li><%= link_to "Nosotros", pages_nosotros_path  %></li>

<li><%= link_to "Servicios", pages_servicios_path  %></li>

<li><%= link_to "Registro Usuarios", pages_registro_path  %></li>

<li><%= link_to "Reservar Taxi", pages_reserva_path  %></li>

<li><%= link_to "Contactenos", pages_contacto_path  %></li>