<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Reservas</title>
    <meta charset="utf-8">
    <meta name = "format-detection" content = "telephone=no" />
    <link rel="icon" href="/assets/favicon.ico">
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="/assets/style.css">
    <script src="/assets/jquery.js"></script>
    <script src="/assets/jquery-migrate-1.2.1.js"></script>
    <script src="/assets/script.js"></script>
    <script src="/assets/superfish.js"></script>
    <script src="/assets/jquery.ui.totop.js"></script>
    <script src="/assets/jquery.equalheights.js"></script>
    <script src="/assets/jquery.mobilemenu.js"></script>
    <script src="/assets/jquery.easing.1.3.js"></script>
    <script>
      $(document).ready(function(){
        $().UItoTop({ easingType: 'easeOutQuart' });
      });
    </script>
  </head>
  <body class="" id="top">
    <div class="main">
<!--==============================Cabezera=================================-->
      <header>
        <div class="menu_block">
          <div class="container_12">
            <div class="grid_12">
              <nav class="horizontal-nav full-width horizontalNav-notprocessed">
                <ul class="sf-menu">
                  <li><a href=<%= root_path %>>Home</a></li>
                  <li class="current"><a href=<%= home_about_path %>>Sobre Nosotros</a></li>
                  <li><a href=<%= home_register_path %>>Registro</a></li>
                  <li><a href=<%= home_reservation_path %>>Reservas</a></li>
                  <li><a href=<%= home_services_path %>>Servicios</a></li>
                  <li><a href=<%= home_contact_path %>>Contactos</a></li>
                </ul>
              </nav>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="container_12">
          <div class="grid_12">
            <h1>
              <a href=<%= root_path %>>
                <%= image_tag @empresa.imagen_3.url(:medium) %>
              </a>
            </h1>
          </div>
        </div>
        <div class="clear"></div>
      </header>
<!--=================================Contenido================================-->
<div class="container">
<p id="notice"><%= notice %></p>

<h2 class="text-center">Tus reservas <%= current_user.username %></h2>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Dirección salida</th>
      <th>Distrito salida</th>
      <th>Dirección llegada</th>
      <th>Distrito llegada</th>
      <th>Modalidad</th>
      <th>Referencia</th>
      <th>Fecha recojo</th>
      <th>Hora recojo</th>
      <th>Observación</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservas.each do |reserva| %>
      <tr>
        <td><%= reserva.fecha %></td>
        <td><%= reserva.direccion_salida %></td>
        <td><%= reserva.distrito_salida %></td>
        <td><%= reserva.direccion_llegada %></td>
        <td><%= reserva.distrito_llegada %></td>
        <td><%= reserva.modalidad %></td>
        <td><%= reserva.referencia %></td>
        <td><%= reserva.fecha_recojo %></td>
        <td><%= reserva.hora_recojo %></td>
        <td><%= reserva.pedido %></td>
        <td><%= link_to 'Visualizar', reserva %></td>
        <td><%= link_to 'Modificar/Suspender', edit_reserva_path(reserva) %></td>
        <td><%= link_to 'Destruir', reserva, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Reserva', new_reserva_path, :class => "btn" %><br><br>
<% if user_signed_in?%>
<%= link_to 'Finalizar Sesión', destroy_user_session_path, method: :delete, :class => "btn" %>
<% end %>
</div>
<!--=============================Fin de Contenido ===========================-->
    <footer>
      <div class="container_12">
        <div class="grid_12">
          <div class="f_phone"><span>Llamenos:</span><%= @empresa.telefono %></div>
          <div class="socials">
            <a href="http://www.twitter.com" class="fa fa-twitter"></a>
            <a href="http://www.facebook.com" class="fa fa-facebook"></a>
            <a href="http://www.google.com" class="fa fa-google-plus"></a>
          </div>
          <div class="copy">
            <div class="st1">
            <div class="brand"><span class="color1"><%= @empresa.name %></span></div>
            &copy; 2015 | <a href="#">Derechos Reservados</a> </div> Website diseñado por <a href="http://www.upc.edu.pe/" rel="nofollow">Grupo Innova UPC</a>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </footer>
</div>
</body>
</html>